In [1]:
import pandas as pd
import random
import os
pd.set_option('display.max_columns', 136)
pd.set_option('display.max_colwidth', -1)

#print current working directory
cwd = os.getcwd()
print(cwd)

/home/dishant/projects/MSCI_641/assignment_1

In [2]:
#Read data
cols = ["reviews"]
data_1 = pd.read_csv('../data/pos.txt', names=cols, sep="\n",header=None)
# print(len(data_1))
data_2 = pd.read_csv('../data/neg.txt', names=cols, sep="\n",header=None)
# print(len(data_2))
df=data_1.append(data_2)
# print(len(data))
df.head()

                                                                    reviews
0  My daughter wanted this book and the price on Amazon was the best.
1  She has already tried one recipe a day after receiving the book.
2  I bought this zoku quick pop for my daughterr with her zoku quick maker.
3  She loves it and have fun to make her own ice cream.
4  I was hoping there were more where those came from.

In [3]:
#Removing special characters
pattern= r'[!#"$%&()*+/:;<=>@\[\\\]^`{\}~\t\n]+'
df['reviews']=df['reviews'].str.replace(pattern,'')
df.head()

                                                                    reviews
0  My daughter wanted this book and the price on Amazon was the best.
1  She has already tried one recipe a day after receiving the book.
2  I bought this zoku quick pop for my daughterr with her zoku quick maker.
3  She loves it and have fun to make her own ice cream.
4  I was hoping there were more where those came from.

In [142]:
df['tokenized'] = df["reviews"].str.split(" ", expand = False)
df.head()

                                                                                   reviews
0  [My, daughter, wanted, this, book, and, the, price, on, Amazon, was, the, best.]
1  [She, has, already, tried, one, recipe, a, day, after, receiving, the, book.]
2  [I, bought, this, zoku, quick, pop, for, my, daughterr, with, her, zoku, quick, maker.]
3  [She, loves, it, and, have, fun, to, make, her, own, ice, cream.]
4  [I, was, hoping, there, were, more, where, those, came, from.]

In [143]:
#tokenize
def shuffle_in_place(array):
    array_len = len(array)
    assert array_len > 2, 'This list is very short to shuffle'
    for index in range(array_len):
        swap = random.randrange(array_len - 1)
        swap += swap >= index
        array.iloc[index], array.iloc[swap] = array.iloc[swap], array.iloc[index]
        
        

# arr=[1,2,3,4,5,6]
shuffle_in_place(df)
df.head()

                                                                                                                                                reviews
0  [Reason, I, only, gave, it, 4, stars, -, the, cord, is, way,, way, too, short, Otherwise,, no, complaints, about, this, beautiful, perculator.]
1  [America's, Test, Kitchen, was, right, when, this, was, their, top, garlic, press.]
2  [It, also, is, difficult, to, hold, the, meat,, cheese,, or, whatever, and, press, the, button, and, move, it, to, slice, all, at, the, same, time.]
3  [I, guessed, wrong, on, this, one,, expecting, the, one, at, a, time, version.]
4  [For, me,, it, doesn't, offer, much,, and, the, premium, service, is, definitely, not, worth, the, money.]

In [149]:
#split into traning, validation, test

train_end=int(0.8 * len(df))
validation_end=int(train_end+0.2 * len(df))

train_set = df[:train_end]
validation_set = df[train_end:validation_end]
test_set = df[validation_end:len(df)]

print(len(train_set))
print(len(validation_set))
print(len(test_set))
train_set.head()

639292
159823
0

                                                                                                                                                reviews
0  [Reason, I, only, gave, it, 4, stars, -, the, cord, is, way,, way, too, short, Otherwise,, no, complaints, about, this, beautiful, perculator.]
1  [America's, Test, Kitchen, was, right, when, this, was, their, top, garlic, press.]
2  [It, also, is, difficult, to, hold, the, meat,, cheese,, or, whatever, and, press, the, button, and, move, it, to, slice, all, at, the, same, time.]
3  [I, guessed, wrong, on, this, one,, expecting, the, one, at, a, time, version.]
4  [For, me,, it, doesn't, offer, much,, and, the, premium, service, is, definitely, not, worth, the, money.]