In [206]:
import pandas as pd
import random
import os
import re
import numpy as np
import nltk; nltk.download('stopwords')
from nltk.corpus import stopwords
            
pd.set_option('display.max_columns', 136)
pd.set_option('display.max_colwidth', -1)

#print current working directory
cwd = os.getcwd()
print(cwd)

/home/dishant/projects/MSCI_641/assignment_1

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/dishant/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [207]:
stop_words = stopwords.words('english')

In [208]:
# #Read data
# cols = ["reviews"]
# data_1 = pd.read_csv('../data/pos.txt', names=cols, sep="\n",header=None)
# # print(len(data_1))
# data_2 = pd.read_csv('../data/neg.txt', names=cols, sep="\n",header=None)
# # print(len(data_2))
# df=data_1.append(data_2)
# # print(len(data))
# df.head()

In [209]:
#Read data
cols = ["reviews"]
df = pd.read_csv('../data/pos.txt', names=cols, sep="\n",header=None)
df.head()

                                                                    reviews
0  My daughter wanted this book and the price on Amazon was the best.
1  She has already tried one recipe a day after receiving the book.
2  I bought this zoku quick pop for my daughterr with her zoku quick maker.
3  She loves it and have fun to make her own ice cream.
4  I was hoping there were more where those came from.

In [210]:
#tokenize
pat = re.compile(r"([^\w\s])") 

#adding spaces before and after all punctuation characters
def add_spaces(item):
    global pat
    return pat.sub(" \\1 ", item)

df['reviews']=df['reviews'].apply(add_spaces)
df['tokenized'] = df["reviews"].str.split(" ", expand = False)
df.head()

,reviews,tokenized
0,My daughter wanted this book and the price on Amazon was the best .,"[My, daughter, wanted, this, book, and, the, price, on, Amazon, was, the, best, ., ]"
1,She has already tried one recipe a day after receiving the book .,"[She, has, already, tried, one, recipe, a, day, after, receiving, the, book, ., ]"
2,I bought this zoku quick pop for my daughterr with her zoku quick maker .,"[I, bought, this, zoku, quick, pop, for, my, daughterr, with, her, zoku, quick, maker, ., ]"
3,She loves it and have fun to make her own ice cream .,"[She, loves, it, and, have, fun, to, make, her, own, ice, cream, ., ]"
4,I was hoping there were more where those came from .,"[I, was, hoping, there, were, more, where, those, came, from, ., ]"

In [211]:
#converting tokens into lowercase
#and
#Removing special characters
pattern= r'[!#"$%&()*+/:;<=,>@\[\\\]^`{\}~\t\n]+'

def remove_special_chars(item):
    global pattern
    temp_list = [re.sub(pattern,'', x.lower()) for x in item]
    return [i for i in temp_list if i]

def remove_stop_words(item):
    return [i for i in item if (i not in stop_words)]

df['tokenized'] = df['tokenized'].apply(remove_special_chars)
df['tokenized_no_stopwords'] = df['tokenized'].apply(remove_stop_words)

df.head()

,reviews,tokenized,tokenized_no_stopwords
0,My daughter wanted this book and the price on Amazon was the best .,"[my, daughter, wanted, this, book, and, the, price, on, amazon, was, the, best, .]","[daughter, wanted, book, price, amazon, best, .]"
1,She has already tried one recipe a day after receiving the book .,"[she, has, already, tried, one, recipe, a, day, after, receiving, the, book, .]","[already, tried, one, recipe, day, receiving, book, .]"
2,I bought this zoku quick pop for my daughterr with her zoku quick maker .,"[i, bought, this, zoku, quick, pop, for, my, daughterr, with, her, zoku, quick, maker, .]","[bought, zoku, quick, pop, daughterr, zoku, quick, maker, .]"
3,She loves it and have fun to make her own ice cream .,"[she, loves, it, and, have, fun, to, make, her, own, ice, cream, .]","[loves, fun, make, ice, cream, .]"
4,I was hoping there were more where those came from .,"[i, was, hoping, there, were, more, where, those, came, from, .]","[hoping, came, .]"

In [215]:
#SHUFFLING (UNCOMMENT FOLLOWING IF NEED TO SHUFFLE ALSO)
# df = df.sample(frac=1).reset_index(drop=True)

# shuffle_dataset (my own shuffle code from scratch) uncomment the following method to test
# def shuffle_in_place(array):
#     array_len = len(array)
#     assert array_len > 2, 'This list is very short to shuffle'
#     for index in range(array_len):
#         swap = random.randrange(array_len - 1)
#         swap += swap >= index
#         array.iloc[index], array.iloc[swap] = array.iloc[swap], array.iloc[index]
        
# # arr=[1,2,3,4,5,6]
# shuffle_in_place(df)
# df.head()

In [213]:
#####IN CASE YOU WANT TO REMOVE [ ] BRACKETS WHICH ARE WRITTEN BEFORE AND AFTER EACH SENTENCE IN THE FINAL CSV
#####JUST UNCOMMENT THE FOLLOWING CODE

# def list_to_string(item):
#     return ",".join(item)

# df['tokenized'] = df['tokenized'].apply(list_to_string)
# df['tokenized_no_stopwords'] = df['tokenized_no_stopwords'].apply(list_to_string)

# df.head()

In [217]:
#split into traning, validation, test
print(len(df))
train_end=int(0.8 * len(df))

validation_end=int(train_end+ 0.1 * len(df))

train_set = df[0:train_end]
validation_set = df[train_end:validation_end+1]
test_set = df[validation_end+1:len(df)]

#save_lists
train_list= list(train_set['tokenized'])
val_list= list(validation_set['tokenized'])
test_list= list(test_set['tokenized'])


np.savetxt("train.csv", train_list, delimiter=",", fmt='%s')
np.savetxt("val.csv", val_list, delimiter=",", fmt='%s')
np.savetxt("test.csv", test_list, delimiter=",", fmt='%s')


print(len(train_list))
print(len(val_list))
print(len(test_set))
# train_set.head()

399655
319724
39966
39965